#consultorio {
    margin-bottom: 60px;
    scroll-margin-top: 7em;

    h2 {
        margin-bottom: 10px !important;
    }
}


// LEFT

.canal {
    width: 500px;
    height: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(89, 18, 234, 0.20);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;

    margin: 12px 0;

    h4 {
        margin-top: 5px;
        font-family: roboto-medium;
    }

    .img-canal {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #3012EA;
        height: 50px;
        width: 50px;
        border-radius: 25px;
    }

    a {
        width: 100px;
        height: 39px;
        border-radius: 12px;
        background: #FFF;
        margin-right: 10px;
        text-align: center;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: roboto-medium;
        font-size: 17px;
    }
}

.map-border {
    height: 540px;
    width: 590px;
    display: flex;
    justify-content: start;
    background-color: #A4FAFF;
    border-radius: 22px;
}

.map {
    width: 530px;
    height: 480px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.302);
    border-radius: 22px;

}

.consult-left {
    p {
        font-size: 17px;
        margin-bottom: 35px;
        width: 90%;
    }
}

.p-blue {
    color: #3012EA;
}

@media (max-width: 1249px) {

    #consultorio{
          h2, p {
        text-align: center;
    }
    }
  
    .contenedor-maps,
    .consult-left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .canales-contacto {
        margin: 40px 0;
    }


}

@media (max-width: 680px) {

    .redes-contacto{
        flex-direction: column;
        align-items: center;

        .red{
            margin: 5px 0;
            display: flex;
            justify-content: left;
            width: 240px;
        }
    }
    .map-border {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    .map {
        width: 450px;
        height: 480px;
    }

    .canal {
        width: 250px;
        height: 200px;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a {
            margin: 15px 0;
        }

        h4 {
            margin-top: 25px;
        }

        .img-canal {
            margin-top: 15px;
        }
    }
}

@media (max-width: 467px) {
    .map {
        width: 350px;
        height: 390px;
    }
}

// FORMULARIO
#contacto {
    scroll-margin-top: 5em;
    background: linear-gradient(to bottom, #EBFCFD 70%, #fff 50%);
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;

    .contenedor-contacto {
        display: flex !important;
        justify-content: center !important;
    }


    h2 {
        text-align: center;


    }
}

.contacto {
    background-color: #3012EA;
    z-index: 0;
    border-radius: 26px;
    width: 80%;
    padding-top: 8px;
}

.redes-contacto {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;

    h4 {
        font-family: roboto-medium;
        color: #3012EA;
        text-align: left;
    }

    a {
        margin: 0 15px;
    }

    img {
        margin-right: 5px;
        width: 40px;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;

    input {
        width: 95%;
        height: 48px;
        margin: 10px;
        border-radius: 10px;
        border: none;

    }

    input::placeholder,
    .textarea::placeholder {
        color: black;
        font-family: Roboto, sans-serif;
        padding-left: 10px;
        padding-top: 5px;
    }


    .nombre-apellido {
        display: flex;
        width: 98.5%;

        input {
            width: 100%;
            margin: 15px;
        }


    }

    .textarea {
        width: 95%;
        height: 200px;
        margin: 15px;
        border-radius: 10px;
        border: none;
    }

    .button:hover {
        transform: scale(1.1);
    }
}