header{
    padding-top: 100px;
}

.call-to-action {
    position: absolute;
    bottom: 140px;
    left: 50px; 
  }
  
  @media (max-width: 768px) {
    .call-to-action {
      bottom: 20px; 
      left: 20px; 

    }
  }
  