header {
  padding-top: 70px;
}

.call-to-action {
  position: absolute;
  bottom: 100px;
  left: 50px;

  .button,
  .button2 {
    font-size: 16px;
    font-family: roboto-medium;
  }

}

.call-to-action .button:hover {
  transform: scale(1.1) !important;
}

.call-to-action .button2:hover {
  transform: scale(1.1) !important;
}

.none-mobile {
  display: none !important;
}

.whatsFlot {
  position: fixed;
  top: 80%;
  left: 85%;
  color: white;
  text-decoration: none;
  z-index: 100;

  img {
    width: 4rem;
  }
}



@media (max-width: 1200px) {
  .call-to-action {
    bottom: 80px !important;
    left: 35px !important;

    .button2,
    .button {
      padding: 11px 18px !important;
      height: 45px;
      width: 100px;
    }





  }


}

@media (max-width: 990px) {
  .call-to-action {
    bottom: 55px !important;
    left: 26px !important;

    .button,
    .button2 {
      padding: 8px 10px !important;
      height: 50px;
      width: 80px;
      font-size: 14.5px;
    }

  }

}

@media (max-width: 768px) {
  .whatsFlot {
    img {
      width: 3.8rem;
    }
  }

  header {
    padding-top: 80px !important;
  }

  .none-mobile {
    display: block !important;
  }

  .none-desktop {
    display: none !important;
  }

  .call-to-action {
    bottom: 30px !important;
    left: 35px !important;

  }

}

@media (max-width: 550px) {
  header {
    padding-top: 55px !important;
  }
  
  .whatsFlot {
    img {
      width: 3.2rem;
    }
  }

  .call-to-action {
    bottom: 17px !important;
    left: 15px !important;

    .button,
    .button2 {
      height: 40px !important;
      width: 90px !important;
      font-size: 16px !important;

    }

  }


}

@media (max-width: 364px) {

  .whatsFlot {
    img {
      width: 2.7rem;
    }
  }

  .call-to-action {
    bottom: 12px !important;
    left: 10px !important;

    .button,
    .button2 {
      height: 35px !important;
      width: 70px !important;
      font-size: 13px !important;
    }

  }

}