* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

html {
    scroll-behavior: smooth;
}

a {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #3012EA !important;
    text-decoration: none;
}

h1 {    font-family: abaya-extra-bold;
    font-size: 39px;
    color: #3012EA;}

h2 {
    font-family: abaya-extra-bold;
    font-size: 36px;
    color: #3012EA;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #3012EA;
    text-align: center;
}

h4 {
    font-family: Roboto, sans-serif;
    font-size: 17px;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}



li {
    font-size: 16px;
    list-style: none;
}

.button, .button2, .button3 {
    border-radius: 10px;
    background-color: #A4FAFF;
    width: 114px;
    height: 52px;
    margin-bottom: 40px;
    margin: 0 10px;
    padding: 14px 24px;
    color: #3012EA;
    border: none;
    font-family: roboto-medium;
    text-align: center;
}



.button2 {
    padding: 14px 24px;
    border-radius: 10px;
    border: 1px solid #A4FAFF;
    background-color: #3012EA;
    color: white;
    font-family: roboto-medium;
}
.button3 {
    background-color: #3012EA;
    color: white;
}

.margin-title {
    margin-top: 90px;
    margin-bottom: 20px;
    margin-left: 25px;
}

@font-face {
    font-family: "abaya";
    src: url(/public/fonts/TitilliumWeb-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-medium";
    src: url(/public/fonts/Roboto-Medium.ttf);
    font-display: swap;
}


@font-face {
    font-family: "abaya-extra-bold";
    src: url(/public/fonts/AbhayaLibre-ExtraBold.ttf);
    font-display: swap;
}