* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    color: #5912EA !important;
    text-decoration: none;
}

h1 {}

h2 {
    font-family: abaya-extra-bold;
    font-size: 36px;
    color: #5912EA;
}

h3 {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #5912EA;
    text-align: center;
}

h4 {
    font-family: Roboto, sans-serif;
    font-size: 17px;
}

// h5 {
//     font-family: titilium;
//     font-size: 1.8rem;


// }

p {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}



li {
    font-size: 16px;
    list-style: none;
}

.button {
    border-radius: 10px;
    background-color: #A4FAFF;
    width: 110px;
    height: 52px;
    margin-bottom: 40px;
    padding: 14px 24px;
    color: #5912EA;
    margin: 10px;
}

.margin-title{
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 25px;
}

@font-face {
    font-family: "abaya";
    src: url(/public/fonts/TitilliumWeb-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "roboto-medium";
    src: url(/public/fonts/Roboto-Medium.ttf);
    font-display: swap;
}


@font-face {
    font-family: "abaya-extra-bold";
    src: url(/public/fonts/AbhayaLibre-ExtraBold.ttf);
    font-display: swap;
}