#servicios {
  background-color: #EBFCFD;
  scroll-margin-top: 4em;
  padding-top: 35px;

h2{
  padding-bottom: 5px !important;
}
}

.content-services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.cards-services {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 21px !important;
  border: 2px solid #5912EA;
  background: #FFF;
  width: 310px;
  margin: 10px 8px;

  img {
    margin-top: 15px;
  }

  li {
    font-weight: bold;
    margin: 10px 10px;
    list-style: url(../public/images/tick.png);
  }

  p {
    text-align: center;
    font-weight: 700;
    font-size: 15.1px;
    margin-top: 20px;
    margin-bottom: 25px;
    height: 135px;
    width: 100%;
  }

  h3{
    height: 40px;
  }

}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ul-card{
  height: 190px;
}
.domicilio {
  width: 100%;
  background-color: #3012EA;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-bottom: 10px;

  .up-domicilio {
    display: flex;
    width: 100%;

    img {
      width: 300px !important;
    }
  }

  .title-domicilio {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 183px;
    height: 37px;
    border-radius: 20px 20px 20px 0px;
    background: #A4FAFF;

    h3 {
      text-align: left;
      color: #3012EA;
      margin-left: 10px;
      margin-top: 5px;
    }
  }

  .description-domicilio {
    display: flex;
    justify-content: space-around;

    .img-domicilio {
      width: 30%;

      img {
        width: 100%;
      }
    }

    .img-mobile-domicilio{
      display: none;
    }

    .p-mobile-domicilio{
      display: none;
    }

    .medio-domicilio {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: center;

      h4 {
        color: white;
        font-size: 19px;
        font-family: roboto-medium;
      }

      .button {
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .p-domicilio {
      width: 30%;
      display: flex;
      align-items: center;

      p {
        font-size: 16px;
        color: white;
        padding: 0px 10px;
      }
    }


  }


}
.down-services{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.info-services-title{
  text-align: center;
  font-size: 29px;
}


.contact-services {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center !important;
  justify-content: center !important;
  margin-top: 40px;


button{
  display: flex;
  align-items: center;
  justify-content: center;
}
}

.card {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 10px 13px rgba(0, 0, 0, 0.25);
}


.card:hover .saber-mas-button {
  background-color: #3012EA;
  color: #A4FAFF !important;
}


.saber-mas-button {
  display: flex;
  width: 260px;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  border: 2px solid #3012EA;
  font-size: 17px;
  font-family: roboto-medium;
  margin-bottom: 20px;
  transition: background-color 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    background-color: #3012EA;
    color: #A4FAFF !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);

  }
}

@media (max-width: 1037px) {


  .none-domicilio{
    display: none !important;
  }

  .p-mobile-domicilio{
    display: block !important;
    color: white;
    font-size: 17px;
    text-align: center;
    width: 300px !important;
  }

  .description-domicilio {
    flex-direction: column;
    align-items: center;

    .img-domicilio,
    .p-domicilio,
    .medio-domicilio {
      width: 100% !important;

      p {
        padding: 0 55px !important;
        margin-top: 15px;

      }

      img {
        display: none;
      }

    }

    .img-mobile-domicilio{
      display: block !important;
      margin-bottom: 15px;
    }

  }



}

@media (max-width: 768px) {
  .card-overlay {
    bottom: 10px;
    left: 10px;
  }
}

@media (max-width: 472px) {

  .contact-services {
    width: 200px;

    h3 {
      font-size: 17px !important
    }
  }

  .domicilio {

    h4,
    p {
      font-size: 15px !important;
      text-align: center;
    }

    .up-domicilio {
      .title-domicilio {
        height: 25px;
        width: 160px;
      }

      h3 {
        font-size: 17px;
      }

      img {
        width: 200px !important;
      }
    }

    .medio-domicilio {
      .button {
        height: 40px;
        width: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

  }
}

.img-mobile-domicilio{
  width: 90px;
  margin-top: 10px;
}
.description-domicilio{
  .p-mobile-domicilio{
  font-size: 14px !important;
}
}


@media (max-width: 336px) {
  .domicilio {

    h4,
    p {
      font-size: 15px !important;
    }

    .up-domicilio {

      h3 {
        font-size: 15px !important;
      }

      .none-mobile {
        display: none !important;
      }
    }

  }
}