#testimonios {
  background-color: #3012ea;
  padding-bottom: 30px;
  scroll-margin-top: 8em
}

#testimonios .testimonios {
  margin-top: 10px!important
}

#testimonios h2 {
  color: #a4faff;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-top: 40px!important
}

#testimonios h3 {
  font-family: Roboto,sans-serif;
  color: #fff;
  text-align: left;
  font-size: 15px;
  margin-left: 23px;
  margin-bottom: 25px
}

.reseñas {
  display: flex;
  justify-content: center
}

.reseñas iframe {
  padding: 1rem;
  border-radius: 1rem;
  border: solid 5px white
}

.testimonio {
  border-radius: 22px;
  background: #fff;
  box-shadow: 0 4px 4px #00000040;
  height: 210px;
  width: 515px;
  margin: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px
}

.testimonio img {
  width: 140px;
  border-radius: 50%
}

.testimonio p {
  padding: 5px;
  font-size: 17px;
  font-family: Roboto,sans-serif;
  font-style: italic;
  color: #3012ea;
  margin-left: 10px;
  font-family: roboto-medium
}

.rec-carousel-wrapper {
  display: flex;
  justify-content: center
}

.rec-slider-container,.rec-slider {
  width: 100%!important
}

@media (max-width: 767px) {
  #testimonios h2,#testimonios h3 {
      text-align:center!important
  }

  .testimonio p {
      font-size: 14.5px;
      padding: 0;
      text-align: center;
      margin: 0!important
  }
}

@media (max-width: 500px) {
  .testimonio {
      flex-direction:column
  }

  .testimonio img {
      width: 90px;
      margin-bottom: 10px
  }

  .testimonio p {
      font-size: 13px;
      padding: 0!important;
      text-align: center
  }
}

@media (max-width: 380px) {
  .testimonio img {
      width:50px
  }
}